.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login,.search{
    padding: 20px;
}

input,select{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
}

input[type=text],input[type=password]{
    background-color: rgba(248, 45, 45, 0.516);
    color: white;
    border: none;
    font-size: 100%;
    letter-spacing: 0.2em;
}

input[type=submit]{
    background-color: rgba(212, 2, 2, 0.516);
    color: white;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;
    border-style:solid;
    border-color:red;
    border-width:2px;
    font-weight:bold;
}

input[type=submit]:hover{
    background-color:red;
    color: white;
}

fieldset{
    font-size: 20px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    padding:40px;
    text-align:center;
}
.heading{
    padding:0 20px 0 20px;
    font-weight:bold;
    font-size:larger;
}